<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Loan Address</th>
      <th>Amount owed</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.loan_information['address'] %></td>
        <td><%= customer.loan_information['amount_owed'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
